language: ruby
rvm:
- "2.2.5"
- "2.3.1"
- ruby-head
- jruby-head
matrix:
  allow_failures:
  - rvm: ruby-head
  - rvm: jruby-head
  fast_finish: true
after_script: bundle exec codeclimate-test-reporter
